<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>fa-subscript</string>
	<string>fa-text-width</string>
	<string>fa-text-height</string>
	<string>fa-h-square</string>
	<string>fa-bold</string>
	<string>fa-underline</string>
	
</array>
</plist>
