<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>70*40</string>
	<string>20*10</string>
	<string>25*10</string>
	<string>25*15</string>
	<string>25*20</string>
	<string>30*15</string>
	<string>30*20</string>
	<string>30*25</string>
	<string>30*30</string>
	<string>30*55</string>
	<string>30*70</string>
	<string>30*80</string>
	<string>30*90</string>
	<string>35*25</string>
</array>
</plist>
