<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>small font</string>
	<string>double width</string>
	<string>double height</string>
	<string>inverse</string>
	<string>bold</string>
	<string>underline</string>
</array>
</plist>
