<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>template1</string>
		<key>name</key>
		<string>模板1</string>
		<key>spec</key>
		<string>尺寸:60mm*40mm</string>
		<key>image</key>
		<string>template01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>模板2</string>
		<key>spec</key>
		<string>尺寸:60mm*40mm</string>
		<key>image</key>
		<string>template02</string>
		<key>id</key>
		<string>template2</string>
	</dict>
</array>
</plist>
